.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
        display: flex;
        align-items: center;
        h3{
            font-weight: 700;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
        }
        .nmbr{
            margin-left: 20px;
            padding: 3px 5px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
    .right{
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        padding: 12px;
        h4{
            font-weight: 700;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
        }
        .images{
            display: flex;
            align-items: center;
            img{
                width: 18px;
            }
            p{
                padding: 0 5px;
                color: rgba(0, 0, 0, 0.5);
                font-size: 12px;
            }
            .arrow1{
                margin-right: -13px;
            }
            .arrow2{
                margin-left: -13px;
            }
            .active{
                font-weight: bold;
                color: black;
            }
        }
    }
}