.container {
    margin-left: 30px;
    height: calc(100vh - 219px);
    overflow-y: auto; 
    table{
        tr {
            .number {    
                border-right: 1px solid #E9E7E7;
                width: 111px;
            }
        }
    }
}